# OS Files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.example

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# PHP
vendor/
composer.lock

# Security and Secrets
*.pem
*.key
secrets/
**/.gitsecret/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Logs
*.log
